<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/c1.css')}}">
</head>
<body>
    <center>
        <h1>now doing rendaring the templates by using flask</h1>
        <h1>{{name}}</h1>
        <img src="{{url_for('static',filename='images/pv.jpg')}}" alt="" height="300px" width="300px">
    </center>
</body>
</html>